
@{
    ViewData["Title"] = "About";
}

<!DOCTYPE HTML>

<html>

<head>

    <title>Appraise Your Textbook!</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />

</head>
<body>
    <a href="~/Home/Index" class="logo"><img src="~/images/new-logo.png" alt="" class="center"></a>
    <nav>
        <ul>
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li>
                <a href="~/Products/Index">Products</a>
            </li>
            <li>
                <a href="~/Orders/Index">Orders</a>
            </li>
            <li>
                <a href="~/Clients/Index">Clients</a>
            </li>
            <li>
                <a href="~/Home/About">About</a>
            </li>
           
        </ul>
    </nav>
    <div class="a">
        At Bakery we know you care about the deserts you eat and share with your colleagues, friends, and family.
        We also know how important your time is to you. Because you deserve the best, we offer you fresh
        and delicious cupcakes, pastries, breads, muffins, cakes, and cookies that arrives on time 24 hours.
        We are serving our respected people for one decade. it has been a pleasure for us to deliver your desired pastries and deserts at your door.

    </div>
    <div>
        <h1>Contact Us</h1>

        Email: Bakery@gmail.com <br />
        Phone: 777-777-7777
    </div>
    <div class="a">
        <img src="~/images/homepage.jpg" alt="" class="center">
    </div>




</body>
</html>



